.currencyTable{
    text-align: center;
    width: 100%;
  }
  .table-div{
      max-height:400px; 
      overflow: auto;
  }
  .jumbo-image{
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
  }
  td{
      padding-bottom: 5px;
      word-break:break-all;
  }
  .btn {
    margin-bottom: 5px;
  }
  th{
      text-align: center;
  }
  .lower-third{
      min-height: 300px;
      font-family: "Montserrat", sans-serif;
      background-color: lavender;
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .lower-third .coin-image{
      font-size: 150px;
      color: #ffe23f;
      margin-bottom: 20px;
      margin-top: 20px;
  }

  .lower-third p{
      font-size: 15px;
  }

